/* Styles for navbar*/
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #383e4c;
  padding: 1.5vh 2vh;
  z-index: 9999;
  position: fixed;
  width: 100%;
}

nav ul {
  list-style-type: none;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

nav ul a {
  text-decoration: none;
  padding: 0.7% 1%;
  width: 4vw;
  height: 2vh;
  border: 1px solid #646d7c;
  background-color: #383e4c;
  margin-left: 2%;
  text-align: center;
  font-size: 1vw;
  color: rgba(255, 255, 255, 0.911);
  font-weight: bold;
}

nav ul a:hover {
  background-color: #5b5e6393;
}

.special {
  width: 5vw;
}

.background {
  width: 100%;
  height: 65vh;
  background: url(./img/tree.jpg);
  background-attachment: fixed;
  z-index: 1;
}

.blur {
  filter: blur(1.5px);
}

.main-heading {
  font-size: 4vw;
  text-shadow: 5px 1px blue;
  font-weight: 300;
}

.sub-heading {
  font-size: 1.6vw;
  margin-top: 2vh;
  font-weight: 200;
}
.Headings {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  position: absolute;
  text-transform: uppercase;
  z-index: 999;
  top: 28%;
}

.main {
  margin: 3vh auto;
  width: 70%;
  display: flex;
  height: 20%;
  flex-wrap: wrap;
}

.main-image {
  width: 100%;
  height: 17vh;
  margin-bottom: 2vh;
  background-size: cover;
}
.three-column {
  width: 30%;
  margin-left: 3.33%;
  background-color: #f2f2f2;
}

.text {
  padding-left: 3vh;
  font-size: 1vw;
  font-weight: bold;
}

.text-padding {
  padding-left: 0vh;
}

.text-danger {
  color: rgb(206, 28, 28);
}

.text-primary {
  color: #1686c1;
}

.text-success {
  color: #178a27;
}

.paragraph {
  text-align: justify;
  padding: 3vh 3vh;
  color: #333;
  font-size: 1vw;
  line-height: 2.5vh;
}

.btn-primary {
  background-color: #1686c1;
}

.btn-success {
  background-color: #178a27;
}

.btn-danger {
  background-color: rgb(206, 28, 28);
}

.btn {
  border: none;
  color: white;
  border-radius: 7px;
  padding: 2.5% 8%;
  font-size: 1vw;
  margin-bottom: 4vh;
  width: auto;
}

.two-column {
  width: 47%;
  margin-left: 3%;
  background-color: #f2f2f2;
  margin-top: 6%;
  text-align: center;
  color: #333;
}

.parallax {
  background: url("./img/snow-mountains.jpg") no-repeat;
  width: 100%;
  height: 36vh;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  flex-direction: column;
}

.heading {
  font-size: 3vw;
  text-shadow: 2px 2px rgb(136, 131, 131);
  color: whitesmoke;
}
.content {
  margin-top: 3vh;
  font-size: 1vw;
  text-align: justify;
  width: 50%;
}

.four-column {
  margin-top: 5vh;
  width: 22%;
  margin-left: 3%;
  background-color: #f2f2f2;
  text-align: center;
  color: #666;
}

.four-column-image {
  height: 25vh !important;
}

.one-column {
  margin-top: 5vh;
  width: 100%;
  margin-left: 3%;
  background-color: #f2f2f2;
  color: #666;
  display: flex;
  flex-direction: column;
}

.one-column-image {
  height: 50vh !important;
}

.one-column-btn {
  border-radius: 15px;
  padding: 1% 0.5%;
  font-size: 1.8vh;
  margin-bottom: 4vh;
  margin-left: 3vh;
  width: 10vw;
  background-color: rgba(252, 249, 249, 0.993);
  border: 2px solid #cacfdabe;
  color: #666;
  transition: all 0.7s;
}

.one-column-btn:hover {
  color: #1686c1;
  background-color: #cacfdabe;
  cursor: pointer;
}

.form {
  width: 40%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-top: -515px;
  flex-direction: column;
  text-align: justify;
  left: 28vw;
  z-index: 9999;
}

.contact-background {
  background-color: white;
  opacity: 0.5;
  color: rgb(226, 5, 255);
  width: 100%;
  border-radius: 5px;
  margin-top: 3vh;
  line-height: 1.5;
}

.contact-p {
  padding: 2vh 6vh;
  width: 81%;
}

.contact-margin {
  margin-left: 3%;
}

.input-types {
  width: 42%;
}

.parallax-contact {
  height: 60vh !important;
  z-index: 0;
}
.text-area-padding {
  padding: 1vh 1.5vh;
  font-size: 1.5vh;
  margin-left: 4.5vh;
}

.text-area-padding::placeholder {
  color: rgb(226, 5, 255);
}

.input-padding {
  padding: 0.6vh 0.7vh;
}

.input-padding::placeholder {
  color: rgb(226, 5, 255);
}

.form-btn {
  margin-top: 3vh;
  border-radius: 10px;
  padding: 1.5% 4%;
  font-size: 1.8vh;
  color: white;
  background-color: black;
  border: 1px solid black;
  transition: all 0.5s;
}

.form-btn:hover {
  color: black;
  background-color: white;
}

footer {
  background: black;
  width: 100%;
  color: white;
  padding-top: 2vh;
  padding-bottom: 2vh;
  text-align: center;
}

.form-width {
  width: 100%;
  display: flex;
}

@media (min-width: 240px) and (max-width: 720px) {
  nav ul a {
    font-size: 3vw;
    width: 13vw;
  }

  .special {
    width: 15vw !important;
  }

  nav ul {
    justify-content: left;
  }

  .background {
    height: 40vh;
  }

  .Headings {
    top: 16%;
  }

  .main-heading {
    font-size: 10vw;
  }

  .sub-heading {
    font-size: 3vw;
  }

  .three-column {
    margin-top: 3vh;
  }

  .four-column {
    margin-bottom: 2vh;
    margin-top: 0vh;
  }
  .four-column,
  .two-column,
  .three-column {
    width: 100%;
  }

  .text {
    font-size: 4vw;
  }

  .paragraph {
    padding: 1vh 3vh 2.5vh 3vh;
    font-size: 2.5vw;
    line-height: 1.8vh;
  }

  .btn {
    font-size: 3vw;
    margin-bottom: 2.5vh;
  }

  .one-column-image {
    height: 30vh !important;
  }

  .one-column-btn {
    width: 20vw;
    font-size: 2.5vw;
    border-radius: 7px;
    margin: auto;
    margin-bottom: 2.5vh;
  }

  .heading {
    font-size: 8vw;
  }

  .content {
    font-size: 2.2vw;
    width: 70%;
    margin-top: 2vh;
    line-height: 1.6vh;
  }

  .parallax {
    height: 25vh;
  }

  .contact-p {
    width: 100%;
    padding: 2vh 4vh;
    font-size: 3vw;
  }

  .form {
    width: 50%;
    margin-top: -85vh;
  }

  .form-width {
    width: 100%;
    flex-direction: column;
  }

  .input-types {
    width: 122%;
    margin-left: -7vw;
  }

  .text-area-padding {
    margin-left: 0vw;
    padding-right: 0vw;
  }

  .parallax-contact {
    height: 90vh !important;
  }

  .form-btn {
    width: 25vw;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
  }

  .main {
    width: 80%;
  }
}

@media (min-width: 480px) and (max-width: 720px) {
  nav ul {
    width: 80%;
  }

  nav ul a {
    font-size: 2vw;
  }

  .background {
    height: 50vh;
  }

  .Headings {
    top: 20%;
  }

  .paragraph {
    line-height: 2.5vh;
  }

  .main-image {
    height: 25vh;
  }

  .parallax {
    height: 30vh;
  }

  .content {
    font-size: 2.5vw;
    line-height: 2vh;
  }

  .contact-p {
    font-size: 2.5vw;
  }

  .input-types {
    width: 116%;
    margin-left: -4.6vw;
  }
}

@media (min-width: 640px) and (max-width: 720px) {
  .text {
    font-size: 3.5vw;
  }

  .paragraph {
    font-size: 2vw;
    line-height: 2.3vh;
  }

  .btn {
    font-size: 2.5vw;
    margin-bottom: 3vh;
  }

  .main-image {
    height: 30vh;
  }

  .heading {
    font-size: 6vw;
  }

  .content {
    font-size: 2vw;
  }

  .contact-p {
    font-size: 2.5vw;
  }
}

@media (min-width: 720px) and (max-width: 1024px) {
  .main {
    margin: 5vh auto;
  }
  .special {
    width: 9vw !important;
  }

  nav {
    height: 4vh;
  }
  nav ul a {
    width: 8vw;
    font-size: 1.5vw;
  }

  .background {
    height: 55vh;
  }

  .Headings {
    top: 22%;
  }

  .main-heading {
    font-size: 8vw;
  }

  .sub-heading {
    font-size: 2.5vw;
  }

  .three-column,
  .four-column {
    width: 47%;
    margin-left: 3%;
  }

  .three-column-special {
    width: 100%;
    margin-top: 3vh;
  }

  .text {
    font-size: 2.5vw;
  }

  .paragraph {
    font-size: 1.5vw;
    line-height: 2.3vh;
  }

  .btn {
    font-size: 1.7vw;
  }

  .main {
    width: 80%;
  }

  .main-image-special {
    height: 40vh !important;
  }

  .main-image {
    height: 25vh;
  }

  .heading {
    font-size: 6vw;
  }

  .content {
    font-size: 1.7vw;
    width: 70%;
    line-height: 2.4vh;
  }

  .one-column-btn {
    width: 20vw;
    border-radius: 8px;
  }

  .contact-p {
    width: 100%;
  }

  .form-width {
    width: 130%;
  }

  .contact-margin {
    margin-left: 0vw;
  }

  .input-types {
    width: 42.5%;
  }
}
